@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="d-flex flex-row bd-highlight mb-3 gap-3">

    <div class="card" style="-moz-animation-fill-mode">
        <img src="/image/1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">BNI TAPERA</h5>
            <p class="card-text">BP TAPERA GELAR 9.057 AKAD KREDIT MASSAL DI PEMBUKAAN TAPERA PROPERTY EXPO (TPE) 2022</p>
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-primary stretched-link">SELENGKAPNYA</a>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-3 gap-3">

        <div class="card" style="width: 18rem; background-color:#E94E0F">
            <img src="/image/bni.jpg" class="card-img-top" style="-ms-content-zoom-limit-max">
            <div class="card-body">
                <h5 class="card-title" style="color:white">BNI PEJOMPONGAN</h5>
                <p class="card-text" style="color:white">BP TAPERA GELAR 9.057 AKAD KREDIT MASSAL DI PEMBUKAAN TAPERA PROPERTY EXPO (TPE) 2022</p>
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-primary stretched-link" style="animation-delay:0,inherit; background-color:#005B6A">SELENGKAPNYA</a>
            </div>
        </div>

        <div class="d-flex flex-row bd-highlight mb-3 gap-3">

            <div class="card" style="width: 18rem; background-color:#005B6A">
                <img src="/image/content.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color:white">KARTU PRAKERJA</h5>
                    <p class="card-text" style="color:white">
                        Kartu Prakerja Lanjut di 2023, BNI Siapkan Layanan Khusus buat Peserta

                        Baca artikel detikfinance, "Kartu Prakerja Lanjut di 2023, BNI Siapkan Layanan Khusus buat Peserta"
                    </p>
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-primary stretched-link" style="background-color:#E94E0F">SELENGKAPNYA</a>
                </div>
            </div>
        </div>
